<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <system.diagnostics>
    <sources>
      <!-- VK: named sources below have to be statically instantiated by application in static initializers -->
      <source name="WinUSB" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <!-- VK: listeners are refered by sources. Instantiate listeners by adding into shared Listeners section -->
          <add name="WinUSB"/>
          <add name="TextFileLog"/>
        </listeners>
      </source>
      <source name="DebugUnitSession" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DebugUnitSession"/>
          <add name="TextFileLog"/>
        </listeners>
      </source>
      <source name="DebugUnit" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="DebugUnit"/>
          <add name="TextFileLog"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- VK: one shared switch to choose sensitivity for all sources -->
      <!--<add name="sourceSwitch" value="Verbose"/>-->
      <add name="sourceSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <!-- VK: UI Trace Listeners used for visualization of logging by each individual tool in toolchain -->
      <!-- VK: Name of listener must correspond to existing WPF UI Element, Visible Tool -->
      <add name="WinUSB" type="WpfApp1.UILog.UITraceListener, WpfApp1">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="DebugUnitSession" type="WpfApp1.UILog.UITraceListener, WpfApp1">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="DebugUnit" type="WpfApp1.UILog.UITraceListener, WpfApp1">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
      <add name="TextFileLog" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime" initializeData="WpfApp1.log"/>
    </sharedListeners>
    <!-- 
    VK: For Microsoft own Trace Listeners like System.Diagnostics.*, 
    this section named "trace" must exists. Or else the custom sources above will never 
    be able to save their messages into file log or console. (Framework Bug ? .. Feature ?)
    -->
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--
        VK: Do not remove Default trace listener. 
        Or else Debug.Assert will not break the excution during debugging under Visual Studio
        <remove name="Default"/>
        -->
        <add name="TextFileLog"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
